src/main/resources/licenseSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CSR_Report">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CSR_Report_Header">
                    <xs:complexType>
                        <xs:attribute name="Report_Type" type="xs:string" use="required" />
                        <xs:attribute name="Title" type="xs:string" use="required" />
                        <xs:attribute name="TimeStamp_Created" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="CSR_Report_Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="CSR_Producer">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="License">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="LOA">
                                                        <xs:complexType>
                                                            <xs:attribute name="LOA_Issue_Date" type="xs:string" use="required" />
                                                            <xs:attribute name="LOA_Name" type="xs:string" use="required" />
                                                            <xs:attribute name="LOA_Status" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Date_Status_Effective" type="xs:string" use="required" />
                                                <xs:attribute name="License_Class" type="xs:string" use="required" />
                                                <xs:attribute name="License_Class_Code" type="xs:unsignedShort" use="required" />
                                                <xs:attribute name="License_Expiration_Date" type="xs:string" use="required" />
                                                <xs:attribute name="License_Issue_Date" type="xs:string" use="required" />
                                                <xs:attribute name="License_Number" type="xs:unsignedInt" use="required" />
                                                <xs:attribute name="License_Status" type="xs:string" use="required" />
                                                <xs:attribute name="Resident_Indicator" type="xs:string" use="required" />
                                                <xs:attribute name="State_Code" type="xs:string" use="required" />
                                                <xs:attribute name="State_ID" type="xs:unsignedInt" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="NIPR_Number" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="Entity_Id" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="Secondary_ID" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>